version: '3.9'

services:
  literat-api:
    image: mylibraryapi_image:latest
    build:
      context: ./LibrosApi
      dockerfile: Dockerfile
    ports:
      - "7655:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=MyLibraryDB;User Id=sa;Password=tuContraseñaSegura(!)1234;TrustServerCertificate=True;
      - API_VERSION=1.0.0
    depends_on:
      - sqlserver
    volumes:
      - logs_data:/app/logs
    restart: unless-stopped
    
  literat-web:
    container_name: literat_web_node
    build:
      context: ./LibrosWebJS
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    environment:
      - PORT=3000
    restart: unless-stopped
    depends_on:
      - literat-api

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-CU21-ubuntu-20.04
    ports:
      - "5567:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=tuContraseñaSegura(!)1234
      - MSSQL_PID=Express
    volumes:
      - sqlserver_data:/var/opt/mssql
    restart: unless-stopped

volumes:
  sqlserver_data:
  logs_data: